<html lang="en">
<% include ../partials/header %>

    <body>
        <% include ../partials/nav %>
            <p>Appointment Page</p>

            <% include ../partials/footer %>
                <% include ../partials/scripts %>
    </body>

</html>