<html lang="en">
<% include ../partials/header %>

    <body>
        <% include ../partials/nav %>
            <p>Appointment Page</p>
            <form action="/schedule" method="post">
                Book your appointment:
                <select name="scheduleto">
                    <% for (var i = 0; i < data.length; i++) { %>
                        <% if(data[i].name !== user) {%>
                            <option value='<%= data[i].name %>'><%= data[i].name %></option>
                     <% }} %>   
                </select>
                <input type="date" name="calendar">
                <p>
                    <%= timezone %>
                </p>
                <input type="submit">
            </form>
            <% include ../partials/footer %>
                <% include ../partials/scripts %>
    </body>

</html>