<html lang="en">
<% include ../partials/header %>

    <body>
        <% include ../partials/nav %>
            <p>Appointment Page</p>
            <form action="/schedule" method="post">
                Book your appointment:
                <input type="datetime-local" name="calendar">
                <input type="submit">
            </form>
            <% include ../partials/footer %>
                <% include ../partials/scripts %>
    </body>

</html>